{% extends 'myadmin/base.html' %}
{% load static %}
{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h1 class="mt-4">Пользователи</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="text-left">
                            <li>Для редактирования клик на никнейме</li>
                            <li>Для удаления (деактивации) - кнопка в графе Активен</li>
                            <li>Сделать персоналом сайта - кнопка в графе Персонал</li>
                        </ul>
                    </div>
                    <div id="give_me_a_crown">
                        <div id="update_users_catcher" class="card-body">
                            <div class="col-md-7 float-left">
                                <p id="text" style="display:none"><i class="fa fa-bomb oranged font-xl"></i> В режиме
                                    "Удаление" элементы будут полностью удалены</p>
                            </div>
                            <div class="col-md-4 float-right mb-2">
                                <div class="btn-group btn-group-toggle btn-block" id="deact_delete"
                                     data-toggle="buttons">
                                    <label class="btn btn-primary active mr-1">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                        Деактив
                                    </label>
                                    <label class="btn btn-primary mr-1">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> Удаление
                                    </label>
                                </div>
                            </div>

                            {% include 'myadmin/includes/table-users.html' %}

                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'myadmin:admins_user_create' %}">
                            <button class="btn btn-outline-dark btn-orange">Создать пользователя</button>
                        </a>
                    </div>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                            <a class="page-link font-xl {% if page_obj.has_previous %} oranged {% endif %}"
                               href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}
                               {% else %} # {% endif %}"
                               tabindex="-1" aria-disabled="true">Previous</a>
                        </li>

                        {% for page in paginator_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                            {% if page_obj.number == page %}
                                <li class="page-item">
                                    <a class="page-link font-xl oranged-selected"
                                       href="?page={{ page }}">{{ page }}</a>
                                </li>

                            {% else %}
                                {% if page == page_obj.paginator.ELLIPSIS %}
                                    <li class="page-item">
                                    <span class="page-link font-xl oranged"
                                          href="?page={{ page }}">{{ page }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link font-xl oranged"
                                           href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                            <a class="page-link font-xl {% if page_obj.has_next %} oranged {% endif %}"
                               href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                                     {% else %} # {% endif %}">Next</a>
                        </li>
                    </ul>

                </nav>

            </div>
        </main>
        {% include 'myadmin/includes/footer.html' %}
    </div>
{% endblock %}