<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link font-xl {% if page_obj.has_previous %} oranged {% endif %}"
               href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}
                               {% else %} # {% endif %}"
               tabindex="-1" aria-disabled="true">Previous</a>
        </li>

        {% for page in paginator_range|default_if_none:page_obj.paginator.get_elided_page_range %}
            {% if page_obj.number == page %}
                <li class="page-item">
                    <a class="page-link font-xl oranged-selected"
                       href="?page={{ page }}">{{ page }}</a>
                </li>

            {% else %}
                {% if page == page_obj.paginator.ELLIPSIS %}
                    <li class="page-item">
                                    <span class="page-link font-xl oranged"
                                          href="?page={{ page }}">{{ page }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link font-xl oranged"
                           href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link font-xl {% if page_obj.has_next %} oranged {% endif %}"
               href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                                     {% else %} # {% endif %}">Next</a>
        </li>
    </ul>

</nav>