<div class="table-responsive">
    <table class="table table-bordered wigth-100 dtBasicExample" id="example">
        <thead>
            <tr>
                <th>Вопрос</th>
                <th>Категория</th>
                <th>
                    <a href="{% url 'myadmin:admins_questions' %}?que_order=author" class="admin-link">
                        Автор
                    </a>
                </th>
                <th>
                    <a href="{% url 'myadmin:admins_questions' %}?que_order=difficulty_level" class="admin-link">
                        Уровень
                    </a>
                </th>
                <th>Правильный ответ</th>
                <th>
                    <a href="{% url 'myadmin:admins_questions' %}?que_order=tag" class="admin-link">
                        Тег
                    </a>
                </th>
                <th>
                    <a href="{% url 'myadmin:admins_questions' %}?que_order=available" class="admin-link">
                        Активен
                    </a>
                </th>
            </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Вопрос</th>
            <th>Категория</th>
            <th>Автор</th>
            <th>Уровень</th>
            <th>Правильный ответ</th>
            <th>Тег</th>
            <th>Активен</th>
        </tr>
        </tfoot>
        <tbody>
        {% for question in page_obj %}
            <tr {% if not question.available %} class="no-active" {% endif %}>
                <td class="text-left item-on-page" value="{{ question.id }}">
                    <a href="{% url 'myadmin:admins_question_update' question.id %}"
                       class="admin-link">
                    {{ question.question }}</a>
                </td>
                <td>{{ question.subject }}</td>
                <td>{{ question.author }}</td>
                <td>{{ question.difficulty_level }}</td>
                <td class="text-left">{{ question.right_answer }}</td>
                <td>{{ question.tag }}</td>
                <td class="text-center">
                    <form id="update_que_btn">
                        {% csrf_token %}
                        {% if question.available %}
                            <button name="{{ question.id }}" type="submit" class="btn btn-outline-dark btn-orange"><i
                                    class='fas fa-check-circle blacked'></i></button>
                        {% else %}
                            <button name="{{ question.id }}" type="submit" class="btn btn-outline-dark"><i
                                    class="fas fa-times-circle"></i></button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
