{% extends 'myadmin/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center mb-1">
                {% if object_list %}

                    <h1 class="mt-4">Все теги вопросов:</h1>
                    <div class="text-justify mt-4">

                        {% for tag in object_list %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'myadmin:admins_questions_by_tag' tag %}" class="admin-link">
                                        {{ tag }}
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </main>
        {% include 'myadmin/includes/footer.html' %}
    </div>
{% endblock %}
