{% extends 'myadmin/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h1 class="mt-4">Вопросы {% if current_category %}категории {{ current_category }} {% endif %}</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-5">
                                <ul class="text-left">
                                    <li>Для редактирования клик на вопросе</li>
                                    <li>Для удаления (деактивации) - кнопка в графе Активен</li>
                                </ul>
                            </div>
                            <div class="col-5">
                                <form method="get" action="{% url 'myadmin:admins_questions' %}">
                                    <div class="row">
                                        <div class="col-3"><label for="filter">Фильтр по категориям: </label></div>
                                        <div class="col-6"><select name="filter" class="form-control" id="filter">
                                            <option value="all" selected name="filter">Все категории</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}" name="filter">{{ category }}</option>
                                            {% endfor %}
                                        </select></div>
                                        <div class="col-3"><input class="btn btn-outline-dark btn-orange" type="submit"
                                                                  value="Ок"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2">
                                <form method="get" action="{% url 'myadmin:admins_question_tags' %}">
                                    <div class="col-3">
                                        <input class="btn btn-primary" type="submit" value="Все теги">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="update_que_catcher" class="card-body">

                        <div class="col-md-7 float-left">
                            <p id="text" style="display:none"><i class="fa fa-bomb oranged font-xl"></i> В режиме
                                "Удаление" элементы будут полностью удалены</p>
                        </div>
                        <div class="col-md-4 float-right mb-2">
                            <div class="btn-group btn-group-toggle btn-block" id="deact_delete"
                                 data-toggle="buttons">
                                <label class="btn btn-primary active mr-1">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                    Деактив
                                </label>
                                <label class="btn btn-primary mr-1">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Удаление
                                </label>
                            </div>
                        </div>

                        {% include 'myadmin/includes/table-questions.html' %}

                    </div>
                    <div class="card-footer">
                        <a href="{% url 'myadmin:admins_question_create' %}">
                            <button class="btn btn-outline-dark btn-orange">Создать вопрос</button>
                        </a>
                    </div>
                </div>

                {% include 'myadmin/includes/pagination.html' %}

            </div>
        </main>
        {% include 'myadmin/includes/footer.html' %}
    </div>
{% endblock %}