{% extends 'myadmin/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center mb-1">
                {% if object_list %}

                    <h1 class="mt-4">{{ title }}</h1>
                    <div class="text-justify mt-4">

                        {% for question in object_list %}
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'myadmin:admins_question_update' question.id %}">{{ question.question }}</a>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>

                {% else %}
                    <h1 class="mt-4">Вопросов по данному запросу нет</h1>
                    <h3 class="mt-4">Возможно, стоит их написать?</h3>
                    <div class="row mt-5">
                        <div class="col-12 mt-4">
                            <img width="100px"
                                 src="{% static 'vendor/img/other/hourglass.png' %}" alt="">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6 mt-4">
                            <a class='btn btn-primary btn-block mt-3 mb-1' href="{% url 'myadmin:admins_questions' %}">
                                К вопросам</a>
                        </div>
                        <div class="col-6 mt-4">
                            <a class='btn btn-primary btn-block mt-3 mb-1'
                               href="{% url 'myadmin:admins_question_create' %}">
                                Написать вопрос</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </main>
        {% include 'questions/includes/footer.html' %}
    </div>
{% endblock %}